.btn {
    background-color: #CB773D;
    color: #fff;
    font-size: 15px;

    &:hover, &:focus, &:active, &:focus-visible {
        color: #fff;
        outline: none;
        box-shadow: none;
    }
}

button.ggEHZU, button.erxDjh {
    background-color: #CB773D;
    color: #fff;
    font-size: 15px;
    border: none;

    &:hover, &:focus, &:active, &:focus-visible {
        color: #fff;
        outline: none;
        box-shadow: none;
    }
}