.jlqSaW {
    background-color: #fff !important;
}

.sc-jrQzAO {
    padding: 10px;
}

.eaLrpa {
    padding: 0 0 10px 0;
}

header.hXiTVc {
    background: linear-gradient(to right, #007DA5, rgba(0, 125, 165, 0.5));
    padding: 10px 10px 5px 10px;

    textarea, a.sc-bdvvtL {
        color: #fff;
    }
}

.cFQZim {
    top: 13px;
}

.iUtzBU:hover {
    background-color: #007DA5 !important;
}

.fWNZIz, .hAgCqU {
    background-color: #007DA5 !important;
}

.kBFNfs:focus {
    color: #000;
}

.comPlainTextContentEditable {
    word-break: break-all;
    overflow: hidden;
    overflow-wrap: break-word;
}


